[master]
192.168.2.72

[master:vars]
ansible_user=
ansible_password=
ansible_sudo_user=
ansible_sudo_pass=

[node1]
192.168.2.77
192.168.2.78

[node1:vars]
ansible_user=
ansible_password=
ansible_sudo_user=
ansible_sudo_pass=

[node2]
192.168.2.78

[node2:vars]
ansible_user=
ansible_password=
ansible_sudo_user=
ansible_sudo_pass=